

<h3>Regretit</h3>
Delete reddit posts and comments that are under 20 points except gilded ones. 

<br><br>
<a href=<%= login %>>Login via Reddit</a>
<br>
<a href='https://github.com/x89/Shreddit'>View Source Code</a>
