<%- include('header'); %>
<div class="container">
	<div class="master"> 

		<div class="navigation"> 
			<!-- built by submodule -->
		</div>

		<div class="content"> 
			<!-- built by submodule -->
		</div>

		<div class="player"> 
			<!-- built by submodule -->
		</div> 

	</div>
</div>
