<div class="menu_content">
	<div class="menu_item" id="search_btn"> 

		Search
	</div>
	<hr>
	<div class="menu_item" id="songs_btn"> 

		My Songs
	</div>
	<hr>
	<div class="menu_item" id="radio_btn"> 

		Radio
	</div>
	<hr>
	<div class="menu_item" id="discover_btn"> 

		Discover
	</div>
	<hr>
	<div class="menu_item" id="settings_btn"> 

		Settings
	</div>
	<hr>
	<div class="menu_item" id="sign_out_btn"> 

		Sign Out
	</div>
</div>
