<div class="navigation_bar row">
	<div class="history col-xs-3">
		<div class="back col-xs-1">
			<
		</div>
		<div class="forward col-xs-1">
			>
		</div>
	</div>
	<div class="location col-xs-6">
		<%= view.location %>
	</div>
	<div class="menu col-xs-3">
		Menu
	</div>
</div>
