<div class="player_bar ">
	<div class="controls_bar clearfix">
		<div id="shuffle_btn" class="shuffle col-xs-3">
			<i class="fa fa-random <% if ( view.shuffle === 'true' ) {%> active_item <%}%>"/>
		</div>
		<div id="skip_back_btn" class="col-xs-1" id="skip_back"> 
				<i class="fa fa-step-backward "/>
		</div> 
		<div class="col-xs-4" id="play_pause"> 
		<% if ( view.playing === 'true') { %>
				<i class="fa fa-pause "/>
		<% } else { %>
				<i class="fa fa-play "/>
		<% } %>
		</div> 
		<div id="skip_forward_btn" class="col-xs-1" id="skip_forward"> 
				<i class="fa fa-step-forward "/>
		</div> 
		<div class="col-xs-1"/>
			<div id="loop_btn" class="loop col-xs-1 <% if ( view.loop === 'true' ) { %> active_item <% } %>">
				<i class="fa fa-repeat "/>
		</div>
		<div class="queue col-xs-1">
				<i class="fa fa-list "/>
		</div>
	</div>
	<div class="song_info clearfix">
		<div class="song_title col-xs-12">
			<% if (view.current_song && view.current_song.song_title) {%>
				<%= view.current_song.song_title %>
			<% } else { %> 
				Song Title
			<% } %> 
		</div>
		<div class="artist_title col-xs-12">
			<% if (view.current_song && view.current_song.artist_title) {%>
				<%= view.current_song.artist_title %>
			<% } else { %> 
				Artist Title
			<% } %> 
		</div>
	</div>
</div>
