<div class="navigation"> 
	<!-- built by submodule -->
<%- include('navigation') %>
</div>
<div class="content"> 
	<!-- built by submodule -->
<%- include('content') %>
</div>

<div class="player"> 
	<!-- built by submodule -->
<%- include('player') %>
</div> 
