<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.7/js/bootstrap-combobox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.7/css/bootstrap-combobox.min.css"></script>

<!-- CSS -->     
<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">     
<link rel="stylesheet" href="css/style.css"> <!-- custom styles -->
<div class="container">
	<h3>Regretit</h3>
	Delete reddit posts and comments from your account! This tool will not delete gilded items. You can set the following options:
	<div>
		<form id="settingsForm" action="run" method="POST" class="form-horizontal">
			<div>
				<label class="control-label">Hours (Do not delete comments younger than this many hours):</label>
				<input required="required" class="form-control" type="number" min="0" placeholder="save comments younger than this many hours" value="" name="hours">
			</div>
			<div>
				<label class="control-label">Score Threshold (Deletes comments with less than this score):</label>
				<input required="required" class="form-control" type="number" placeholder="delete comments with less than this score" value="" name="max_score">
			</div>
			<div>
				<label class="control-label">Sort (new, top, controversial, hot):</label>
				<select required="required" class="combobox form-control" name="sort">
					<option value="">select a sort method</option>
					<option value="new">new</option>
					<option value="top">top</option>
					<option value="controversial">controversial</option>
					<option value="hot">hot</option>
				</select>
			</div>
			<input type="hidden" placeholder="True" value="True" name="verbose">
			<input type="hidden" placeholder="False" value="False" name="clear_vote">
			<div>
				<label class="control-label">Items (comments, submitted, overview):</label>
				<select required="required" class="combobox form-control" name="item">
					<option value="">select which items to delete</option>
					<option value="overview">overview</option>
					<option value="submitted">submitted</option>
					<option value="comments">comments</option>
				</select>
			</div>
			<div>
				<label class="control-label">Trial Run (False means this run will actually delete comments!):</label>
				<select required="required" class="combobox form-control" name="trial_run">
					<option value="">enable trial run</option>
					<option value="True">true</option>
					<option value="False">false</option>
				</select>
			</div>
			<input type="hidden" placeholder="True" value="True" name="whitelist_distinguished">
			<input type="hidden" placeholder="True" value="True" name="whitelist_gilded">
			<input type="hidden" placeholder="False" value="False" name="keep_a_copy">
			<input type="hidden" placeholder="/tmp" value="/tmp" name="save_directory">
			<input type="hidden" placeholder="DEBUG" value="DEBUG" name="debug">
			<input type="hidden" name="refresh_token" value=<%=refresh_token%>>
			<br>
			<div>
				<button class="btn btn-default" type="submit">Run</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.combobox').combobox();			
	});
</script>
