html, body {
	overflow: hidden;
}

.navigation_bar {
	padding-top: 12px;
	color: white;
	font-weight: bold;
	overflow: hidden;
} 

.clearfix {
	margin-left: -15px;
}

.navigation_bar .location {
	text-align: center;
}

.navigation_bar .menu .fa {
	margin-top: 2px;
}

.navigation_bar .menu {
	text-align: center;
}

.navigation {
	height: 8%; 
}

.content {
	height: 77%;
	overflow-y: overlay;
	overflow-x: hidden;
}

.player {
	height: 13%;
}

.player_bar {
}

.controls_bar {
	height: 20%;
	margin-top: 12px;
	margin-bottom: 12px;
}

.controls_bar .col-xs-1 {
	text-align: center;
}

.player_bar .song_info {
	height: 75%;
}

#play_pause{
	text-align: center;
}

.song_title {
	color: white;
	font-size: small;
	max-height: 56%;
	overflow-y: hidden;
}

.artist_title { 
	font-size: smaller;
}

.album_title { 
	font-size: smaller;
}

.container {
	max-height: 100px;
}

.content {
	margin-top: 1%;
}

.menu_item { 
	color: white;
	font-size: medium;
}

.song_item .pause_song,
.song_item .play_song {
	padding-top: 2%;
}

.song_item .col-xs-1 {
	text-align: center;
}

::-webkit-scrollbar
{
	width: 10px;  /* for vertical scrollbars */
	height: 10px; /* for horizontal scrollbars */
	display: none;
}

/*
::-webkit-scrollbar-track:hover
{
	display: inherit;
} 

::-webkit-scrollbar-track
{
	display: none;
} 

::-webkit-scrollbar-thumb
{
	background: grey; 
	display: none;
}

::-webkit-scrollbar-thumb:hover
{
	display: inherit;
}*/

.active_item {
	color: limegreen;
}
